<!-- forgot password -->
<section *ngIf="step1" class=" my-3 w-50 mx-auto rounded bg-main-light p-3 shadow">
  <form [formGroup]="forgotform" (ngSubmit)="forgotpassword()">
    <label for="email">Email</label>
    <input formControlName="email" class=" form-control" type="email" id="email">

    <div *ngIf="forgotform.get('email')?.errors &&forgotform.get('email')?.touched"
      class="alert alert-danger mt-2 text-center " role="alert">
      Email is not correct
    </div>

    <button [disabled]="forgotform.invalid" class="main-btn  mt-3">Forgot Password&nbsp;<span *ngIf="isloadin"><i
          class="fa-solid fa-spin fa-spinner"></i></span></button>

    <p *ngIf="statusMsg" class="alert alert-danger mt-3 text-center">{{statusMsg}}</p>
  </form>
</section>
<!-- reset code -->
<section *ngIf="step2" class=" my-3 w-50 mx-auto rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetCode">Reset Code</label>
    <input formControlName="resetCode" class=" form-control" type="text" id="resetCode">

    <div *ngIf="resetCodeForm.get('resetCode')?.errors &&resetCodeForm.get('resetCode')?.touched"
      class="alert alert-danger mt-2 text-center " role="alert">
      required reset code.
    </div>
    <button [disabled]="resetCodeForm.invalid" class="main-btn  mt-3">Reset Code&nbsp;<span *ngIf="isloadin"><i
          class="fa-solid fa-spin fa-spinner"></i></span></button>

    <p *ngIf="statusMsg" class="alert alert-danger mt-3 text-center">{{statusMsg}}</p>
  </form>
</section>

<section *ngIf="step3" class=" my-3 w-50 mx-auto rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetpassForm" (ngSubmit)="newResetPassword()">
    <label for="resetCode">Reset Password</label>
    <input formControlName="newPassword" class=" form-control" type="password" id="resetCode">

    <div *ngIf="resetpassForm.get('newPassword')?.errors &&resetpassForm.get('newPassword')?.touched"
      class="alert alert-danger mt-2 text-center " role="alert">
      Enter valid password Password must contain Minimum eight and maximum 14 characters, at least one uppercase
      letter, one lowercase letter, one number and one special character,for example: 12345Aa@
    </div>

    <button [disabled]="resetpassForm.invalid" class="main-btn  mt-3">Reset Password&nbsp;<span *ngIf="isloadin"><i
          class="fa-solid fa-spin fa-spinner"></i></span></button>

    <p *ngIf="statusMsg" class="alert alert-danger mt-3 text-center">{{statusMsg}}</p>
  </form>
</section>