:host{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.padtp{
  padding-top: 70px;
}
.btn-up{
  width: 40px;
  height: 40px;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  border: unset;
  border-radius: 10px;
  font-size: 18px;
}