@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$main-Color: #0aad0a;
$light-Color: #f0f3f2;
$shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
$fontFamily: 'Encode Sans Expanded', sans-serif;
$ratingColor: #ffc908;

::-webkit-scrollbar{
width: 12px;
}
::-webkit-scrollbar-track{
background-color: $light-Color;
}
::-webkit-scrollbar-thumb{
  background-color: $main-Color;
}
body {
  font-family: $fontFamily;
  background-image: url('./assets/imgs/light-patten.svg');
}
.text-main {
  color: $main-Color;
}

.font-sm {
  font-size: 14px;
}

.bg-main {
  background-color: $main-Color !important;
}

.bg-main-light {
  background-color: $light-Color !important;
}
.rating-color {
  color: $ratingColor;
}

.cursor-pointer {
  cursor: pointer;
}
.main-btn{
  background-color: $main-Color;
  color: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  border: unset;
  cursor: pointer;
  &:disabled{
    background-color: rgba(10, 173, 10, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
  }
}
.active-link{
  color: #fff !important;
  background-color: $main-Color !important;
  border-radius: 5px !important;
}
.product{
  border: 1px solid $main-Color;
  border-radius: 5px;
  padding: 8px 6px;
  box-shadow: $shadow;
  overflow: hidden;
  .box{
    position: absolute;
    height:70px ;
    width: 50px;
    right: 10px;
    top: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  .heart {
      position: absolute;
      right: 10px;
      height: 33px;
      width: 33px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      font-size: 24px;
      z-index: 99;
      overflow: hidden;
      transform: translateY(80px);
      opacity: 0;
      transition: transform 600ms,opacity 200ms;
    }
        .main-btn {
          transform: translateY(130%);
          opacity: 0;
          transition: all 600ms;
        }
    &:hover{
      .heart{
        transform: translateY(10px);
        opacity: 1;
      }
      .main-btn {
        transform: translateY(0%);
        opacity: 1;
      }
    }
}

@media (max-width: 992px) {
  .ft-link {
    margin-top: 15px;
  }
}
